.container {
    max-width:40rem;
    height: 20rem;
    margin: 5rem auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 4px;
    margin-top: 14rem;
    margin-left: 60rem;
    height: 27rem;
  }
  
  .title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .input {
    padding: 1rem;
    margin-bottom: 2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: medium;
    width: 37rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .button {
    padding: 0.8rem;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    margin-top: -1rem;
    width: 39.2rem;
  }
  